name: Ruff Lint

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "app/**"
      - "main.py"
      - ".github/workflows/ruff.yml"
      - "pyproject.toml"
      - "uv.lock"

jobs:
  ruff:
    name: Ruff Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Run Ruff Lint
        uses: astral-sh/ruff-action@v3
